//Grid 
.container {
  width: 100%;
  // background-color: $white;
}

.row {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1.5rem 2rem 1.5rem;
}

//Tablet
@media all and (min-width: $brkTab) { 
  .row {
      -js-display: flex;
      display: flex;
      justify-content: space-between;
      padding: 0 3rem 2rem 3rem;
  }
  .col20 { width: 18.999%; } //20% columns
  .col30 { width: 28.999%; } //30% columns
  .col40 { width: 38.999%; } //40% columns
  .col50 { width: 48.999%; } //50% columns
  .col60 { width: 58.999%; } //60% columns
  .col70 { width: 68.999%; } //70% columns
  .col80 { width: 78.999%; } //80% columns
} 
